@charset "UTF-8";

/* import nanum gothic web font */
@import url(nanumgothic.css);

html { overflow-y: scroll; }
body { font: normal 13px/1.5 "Nanum Gothic","나눔고딕" }

a { color: #000; text-decoration: none; }
a:hover { color: #000; }
ul, ol, li, p, dl, dt, dd, fieldset, form, h1, h2, h3, h4, h5 { margin: 0; padding: 0; }
li { list-style: none; }
fieldset { border: 0; }
img { border: none;vertical-align:bottom;}

/* layout */
.padding_10 { padding: 10px; }
.padding_5 { padding: 5px; }
.align_center { text-align: center; }
.align_right { text-align: right; }
.align_middle { vertical-align: middle; }
.float_left { float: left; }
.float_right {float: right; }
.clear_both:after { content: " "; display: block; clear: both; height: 0; visibility: hidden;}
.display_none { display: none; }
.ellipsis { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.font_bold { font-weight: bold; }
.button { cursor: pointer; }
.nowrap { white-space: nowrap; }
.clearfix { overflow: auto; }
.clearfix2 { overflow: hidden; }

.block-row { overflow: auto; }
.block-row .block-cell { float: left; }

/* Margin Step */
.bm2 { margin-bottom: 2px; }
.bm5 { margin-bottom: 5px; }
.bm10 { margin-bottom: 10px; }
.bm13 { margin-bottom: 13px; }
.bm14 { margin-bottom: 14px; }
.bm20 { margin-bottom: 20px; }
.bm30 { margin-bottom: 30px; }
.bm60 { margin-bottom: 60px; }
.bm100 { margin-bottom: 100px; }

.lm3	{ margin-left:3px; }
.lm5	{ margin-left:5px; }
.lm7	{ margin-left:7px; }
.lm9	{ margin-left:9px; }
.lm10	{ margin-left:10px; }
.lm12	{ margin-left:12px; }
.lm13	{ margin-left:13px; }
.lm15	{ margin-left:15px; }
.lm18	{ margin-left:18px; }
.lm20	{ margin-left:20px; }
.lm30	{ margin-left:30px; }
.lm40	{ margin-left:40px; }
.lm45	{ margin-left:45px; }
.lm50	{ margin-left:50px; }
.lm60	{ margin-left:60px; }
.lm70	{ margin-left:70px; }
.lm80	{ margin-left:80px; }
.lm90	{ margin-left:90px; }
.lm100	{ margin-left:100px; }
.lm150	{ margin-left:150px; }
.lm170	{ margin-left:170px; }

.tm2	{ margin-top:2px; }
.tm3	{ margin-top:3px; }
.tm5	{ margin-top:5px; }
.tm7	{ margin-top:7px; }
.tm8	{ margin-top:8px; }
.tm10	{ margin-top:10px; }
.tm14	{ margin-top:14px; }
.tm15	{ margin-top:15px; }
.tm20	{ margin-top:20px; }
.tm25	{ margin-top:25px; }
.tm30	{ margin-top:30px; }
.tm40	{ margin-top:40px; }
.tm45	{ margin-top:45px; }
.tm50	{ margin-top:50px; }
.tm60	{ margin-top:60px; }
.tm70	{ margin-top:70px; }
.tm80	{ margin-top:80px; }
.tm90	{ margin-top:90px; }
.tm100	{ margin-top:100px; }

.rm5	 { margin-right:5px; }
.rm10	 { margin-right:10px; }
.rm15	 { margin-right:15px; }
.rm20	 { margin-right:20px; }
.rm23	 { margin-right:23px; }
.rm25	 { margin-right:25px; }
.rm30	 { margin-right:30px; }

