#page-item-view { margin-top: 100px; }

#page-item-view .info-header { margin-bottom: 50px; overflow: hidden; }

#page-item-view .item-images { width: 550px; float: left; margin-right: 60px; }
#page-item-view .item-summary { float: right; width: 510px; }
#page-item-view .item-images .image-big img { width: 550px; height: 550px; }
#page-item-view .item-images .image-thumbs { margin-top: 10px; }
#page-item-view .item-images .image-thumbs li { float: left; margin: 20px 11px 20px 0px; }
#page-item-view .item-images .image-thumbs li:last-child { margin-right: 0; }
#page-item-view .item-images .image-thumbs li{ width: 80px; height: 80px; border: 1px solid #dcdcdc; }

#page-item-view .info-header h2 { font-family: "Nanum Gothic","나눔고딕"; font-weight: 500; font-size: 33px; line-height: 1.3; margin-bottom: 13px; letter-spacing: -1px; }
#page-item-view .info-header .sub-title { font-size: 24px; line-height: 1.3; margin-bottom: 13px; }
#page-item-view .info-header .event-name { font-size: 16px; color: #e5005a; }

#page-item-view .item-def { margin-top: 30px; width: 100%;  margin-bottom: 10px; }
#page-item-view .item-def th , #page-item-view .item-options p { font-size: 13px; font-weight: bold; width: 80px; text-align: left; padding: 3px 3px 3px 0px; }
#page-item-view .item-def td { padding: 5px; }
#page-item-view .item-def td .list-price { font-size: 18px; color: #888; text-decoration: line-through; margin-right: 10px; }
#page-item-view .item-def td .now-price { font-size: 25px; font-weight:bold; }
#page-item-view .item-def td .bonus-point { font-size: 18px; font-weight:bold; }
#page-item-view .item-def td .bonus-point2 { font-size: 14px; font-weight:normal; }
#page-item-view .item-def td .bonus-point3 { font-size: 14px; color:#888; font-weight:normal;}
#page-item-view .item-def td .select-box { width: 100px; padding: 7px 10px 7px 10px; color: #555; border-color: #ccc; position: relative; }
#page-item-view .item-def td select.buy-count { width: 80px; }

#page-item-view .item-options .item-option { width: 100%; border-color: #ccc; padding: 8px; color: #555; margin-bottom:10px; }
#page-item-view .item-options p{margin-bottom:10px;}

#page-item-view .item-num { width: 100%; }
#page-item-view .item-num th { width: 200px; 3px 3px 3px 0px; text-align: left; }
#page-item-view .item-num td { padding: 8px; text-align: right; }
#page-item-view .item-num .price { font-size: 15px; text-decoration: line-through; color: #555; display: inline-block; margin-right: 10px; }
#page-item-view .item-num .delete { display: inline-block; cursor: pointer; }

#page-item-view .total-price { font-size: 18px; text-align: right; padding: 10px 0px; margin-bottom: 20px; }
#page-item-view .total-price .now-price { font-size: 30px; color: #e5005a; font-weight: bold; margin-left: 10px; }

#page-item-view .action-buttons { text-align: center; }
#page-item-view .action-buttons > div { font-family: "Nanum Gothic","나눔고딕"; font-weight: 800; font-size: 14px; padding: 10px 22px; margin: 3px; border: 2px solid #000; width: 113px; display: inline-block; cursor: pointer; }
#page-item-view .action-buttons > div:hover {  opacity: 0.8; } /* hover 동작 */
#page-item-view .action-buttons .buy-now { background-color: #000; color: #fff; }
#page-item-view .action-buttons .sold-out { background-color: #000; color: #fff; width:460px; float:left; font-family:"나눔고딕"}
#page-item-view .action-buttons .add-cart { }
#page-item-view .action-buttons .wish-list { }
#page-item-view .action-buttons .require-alarm { }

#page-item-view .brand-story-wrapper .item-list-type1 { margin-top: 30px;}

#page-item-view .item-detail .tab-content > div { padding: 50px 0px; text-align: center; display: none; }
#page-item-view .item-detail .tab-content > div.active { display: block; }
#page-item-view .item-detail .tab-content .content3 {text-align:left;}

#page-item-view .item-reviews { margin-bottom: 15px; }
#page-item-view .item-reviews h2,
#page-item-view .guide h2 { font-size: 20px; border-bottom: 1px solid #000; padding: 5px 0px; color: #222; }
#page-item-view .item-reviews ul.reviews li { border-bottom: 1px solid #ccc; padding: 5px; }
#page-item-view .item-reviews ul.reviews li .review-head { cursor: pointer; padding-bottom:5px; }
#page-item-view .item-reviews ul.reviews li .review-head > div { display: inline-block; padding: 7px; vertical-align: middle; }
#page-item-view .item-reviews ul.reviews li .review-head > .rating { width: 100px; text-align: center; }
#page-item-view .item-reviews ul.reviews li .review-head > .photo { width: 25px; text-align: center; }
#page-item-view .item-reviews ul.reviews li .review-head > .subject { width: 665px; overflow: hidden; white-space: nowrap; }
#page-item-view .item-reviews ul.reviews li .review-head > .writer { width: 130px; font-size: 11px; }
#page-item-view .item-reviews ul.reviews li .review-head > .reg-date { text-align: right; width: 100px; font-size: 11px; }
#page-item-view .item-reviews ul.reviews li .review-body { padding: 20px 0 10px; 0px; margin-bottom: 10px; display: none;border-top:1px solid #ccc; }
#page-item-view .item-reviews ul.reviews li.open .review-body { display: block; color: #888; }
#page-item-view .item-reviews .wrapper-page { position: relative }
#page-item-view .item-reviews .pagination1 { margin-right: 100px; }
#page-item-view .item-reviews .pagination2 { margin-right: 50px; }
#page-item-view .item-reviews .btn-write-review { position: absolute; right: 0; top: 20px; border: 2px solid #000; padding: 5px 15px; font-size: 15px; font-weight: bold; cursor: pointer; }

#page-item-view .guide > div { padding: 20px 0px; border-bottom: 1px solid #ccc; margin-bottom: 50px; }
#page-item-view .guide h3 { margin: 5px 0px; }
#page-item-view .guide p { color: #555; font-size: 11px; }
#page-item-view .guide hr { border: 0; height: 0; border-top: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid #rgba(ff,ff,ff,0.3); margin: 10px 0px}

.photo-re-icon {width:20px;height:20px;}

@media (max-width: 420px) {
	#page-item-view { margin-top: 30px; }
	#page-item-view .info-header { padding: 0px 15px; }
	#page-item-view .item-images { width: 100%; float: none; margin: 0; margin-top: 10px; }
	#page-item-view .item-images .image-big img { width: 100%; height: auto; }
		
	#page-item-view .info-header h2 { font-size: 24px; margin-bottom: 5px; }
	#page-item-view .info-header .sub-title { font-size: 16px; line-height: 1.3; margin-bottom: 13px; }
	#page-item-view .info-header .event-name { font-size: 14px; color: #e5005a; }
	
	#page-item-view .item-summary { float: none; width: 100%; }
	
	#page-item-view .item-def { margin-top: 10px; margin-bottom: 10px; }
	#page-item-view .item-def th { width: 80px; font-size: 12.5px; }
	#page-item-view .item-def td .list-price { font-size: 13px; }
	#page-item-view .item-def td .now-price { font-size: 17px; }
	#page-item-view .item-def td .bonus-point { font-size: 15px; }
	#page-item-view .item-def td .select-box { width: 70px; padding: 7px 10px 7px 10px; color: #555; border-color: #ccc; position: relative; }

	#page-item-view .item-num th { width: 120px; }
	#page-item-view .total-price { font-size: 14px; margin-bottom: 10px; }
	#page-item-view .total-price .now-price { font-size: 22px; }

	#page-item-view .action-buttons > div { font-size: 12px; padding: 8px 10px; margin: 1px; width: 80px; }
    #page-item-view .action-buttons .sold-out {width:93%; font-size:14px;}

	#page-item-view .brand-story-wrapper .title-wrapper { border: none }
	#page-item-view .owl-controls .owl-dots .owl-dot { width: 5px; height: 5px; border: 1px solid #000; border-radius: 5px; margin: 0px 3px; }
	
	#page-item-view .item-detail { width: 340px; margin-left: auto; margin-right: auto; }
	#page-item-view .item-detail .tab-contents .tab-header ul li { width: 33%; font-size: 12px; }
	#page-item-view .item-detail .tab-contents .tab-content {  }
	#page-item-view .item-detail .tab-content > div { padding: 20px 0px; }
	#page-item-view .item-detail .tab-content > div { width: 100% !important; }
	#page-item-view .item-detail .tab-content > div img { width: 100%; }
	
	#page-item-view .item-reviews,
	#page-item-view .guide { width: 340px; }

	#page-item-view .item-reviews ul.reviews li .review-head > .rating .rating-star { margin-top: 10px; }
	#page-item-view .item-reviews ul.reviews li .review-head > .rating { width: 40px; margin-top: 0px; }
	#page-item-view .item-reviews ul.reviews li .review-head > .subject { width: 170px; font-size: 12px; }
	#page-item-view .item-reviews ul.reviews li .review-head > .writer { display: none; }
	#page-item-view .item-reviews ul.reviews li .review-head > .reg-date { width: 65px; font-size: 10px; }
	#page-item-view .item-reviews ul.reviews li .review-body .fullsize { width: 100%; }

	#page-item-view .item-reviews .btn-write-review { position: absolute; top: 6px; padding: 3px 10px; font-size: 12px; }
	
	#page-item-view .item-reviews h2,
	#page-item-view .guide h2 { font-size: 17px; border-bottom: 1px solid #000; padding: 5px 0px; color: #222; }
}
