#popup-layer {
  display: block;
  position: absolute;
  border: 2px solid #000;
  padding: 30px;
  background-color: #fff;
}

.popup-layer > .btn-close-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.popup-layer form span.btn-close-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.popup-layer h2.page-title {
  text-align: left;
}

.popup-layer .item-list {
  border-top: 1px solid #000;
}
.popup-layer .item-list .block-row {
  border-bottom: 1px solid #e2e2e2;
  padding: 13px 0px;
}
.popup-layer .item-list .block-cell {
  text-align: center;
  line-height: 1.8;
}
.popup-layer .item-list .list-title {
  font-weight: bold;
  text-align: center;
}
.hide-pc {
  display: none !important;
}

#popup-order-coupon {
  width: 700px;
}
#popup-order-coupon .item-list.item-info .info {
  width: 330px;
}
#popup-order-coupon .item-list.item-info .info .option {
  color: #888;
  display: none;
}
#popup-order-coupon .item-list.item-info .list-price {
  width: 120px;
  font-size: 15px;
  color: #888;
  text-decoration: line-through;
}
#popup-order-coupon .item-list.item-info .count {
  width: 120px;
}
#popup-order-coupon .item-list.item-info .order-price {
  width: 120px;
  font-size: 17px;
  color: #000;
}
#popup-order-coupon .item-list.item-info .info {
  text-align: left;
}
#popup-order-coupon .item-list.item-info .list-title > * {
  line-height: 1.8;
  color: #000;
  text-decoration: none;
  font-size: 13px;
}
#popup-order-coupon .item-list.coupon-list .coupon-name {
  width: 270px;
  text-align: left;
  line-height: 3.6;
}
#popup-order-coupon .item-list.coupon-list .available-dup {
  width: 100px;
  line-height: 3.6;
}
#popup-order-coupon .item-list.coupon-list .benefit {
  width: 100px;
  line-height: 3.6;
  color: #e5005a;
}
#popup-order-coupon .item-list.coupon-list .restrict {
  width: 100px;
  line-height: 3.6;
}
#popup-order-coupon .item-list.coupon-list .remain {
  width: 120px;
  text-align: center;
}
#popup-order-coupon .item-list.coupon-list .remain .remain-date {
  color: #888;
}
#popup-order-coupon .item-list.coupon-list .list-title > * {
  line-height: 1.8;
  color: #000;
}
#popup-order-coupon .summary {
  padding: 15px 0px;
  font-size: 17px;
  text-align: right;
}
#popup-order-coupon .summary span {
  padding: 0px 5px;
}
#popup-order-coupon .summary .item-name {
  color: #888;
}
#popup-order-coupon .summary .before-price {
  color: #000;
}
#popup-order-coupon .summary .after-price {
  color: #e5005a;
}
#popup-order-coupon .summary .op {
  color: #888;
}
#popup-order-coupon .summary .result-price {
  font-size: 29px;
  color: #e5005a;
  font-weight: bold;
}
#popup-order-coupon .bottom-notice {
  color: #e5005a;
  text-align: center;
  padding-top: 15px;
}

#popup-member-join-cert {
  width: 450px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#popup-member-join-cert h2.page-title {
  font-size: 25px;
}
#popup-member-join-cert .body {
  color: #555;
}
#popup-member-join-cert .action-buttons {
  margin-top: 20px;
}

#popup-guide-term {
  width: 750px;
}
#popup-guide-term .body {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  max-height: 400px;
  overflow: scroll;
}
#popup-guide-term .body table {
  line-height: 1.8;
}
#popup-guide-term .body table .chapter {
  font-weight: bold;
  padding-top: 20px;
}

#popup-member-id-check {
  width: 450px;
}
#popup-member-id-check .input-form {
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  text-align: center;
  padding: 20px 0px;
}
#popup-member-id-check .input-form .title-text {
  font-size: 18px;
  font-weight: bold;
  padding-right: 3px;
}
#popup-member-id-check .input-form .q {
  border: 2px solid #000;
  width: 230px;
}
#popup-member-id-check .input-form .submit {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  padding: 9px 24px;
  font-size: 15px;
}
#popup-member-id-check .check-result {
  font-size: 18px;
  text-align: center;
  padding: 15px;
}
#popup-member-id-check .check-result .checked-id {
  color: #e5005a;
}
#popup-member-id-check .message {
  color: #888;
  text-align: center;
  padding-bottom: 25px;
}

#popup-member-address {
  width: 480px;
  height: 620px;
}
#popup-member-address .tab-contents .tab-header ul > li {
  width: 50%;
  box-sizing: border-box;
}
#popup-member-address .tab-contents .tab-content {
  padding-top: 30px;
}
#popup-member-address .tab-contents .tab-content .input-form {
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  text-align: center;
  padding: 25px 0px;
}
#popup-member-address .tab-contents .tab-content .input-form .message {
  height: auto;
  color: #888;
  padding: 15px 0 0 0;
}
#popup-member-address .tab-contents .tab-content .input-form .title-text {
  font-size: 18px;
  font-weight: bold;
  margin-right: 3px;
}
#popup-member-address .tab-contents .tab-content .content1 .input-form input.q {
  width: 250px;
}
#popup-member-address
  .tab-contents
  .tab-content
  .content1
  .input-form
  input.submit2 {
  padding: 9px 25px 9px 25px;
}
#popup-member-address .tab-contents .tab-content .content2 .type-list {
  text-align: center;
  margin-bottom: 10px;
}
#popup-member-address .tab-contents .tab-content .content2 .type-list li {
  display: inline-block;
  margin-right: 10px;
}
#popup-member-address .tab-contents .tab-content .content2 .input-form {
  margin-bottom: 15px;
  text-align: left;
  padding: 20px 10px;
}
#popup-member-address .tab-contents .tab-content .content2 .input-form > div {
  margin-bottom: 8px;
}
#popup-member-address
  .tab-contents
  .tab-content
  .content2
  .input-form
  .title-text {
  display: inline-block;
  width: 60px;
  text-align: left;
  padding-left: 20px;
  font-weight: normal;
  font-size: 18px;
}
#popup-member-address
  .tab-contents
  .tab-content
  .content2
  .input-form
  select.type2 {
  width: 130px;
}
#popup-member-address
  .tab-contents
  .tab-content
  .content2
  .input-form
  input.input1 {
  width: 110px;
  margin-left: 0;
}
#popup-member-address
  .tab-contents
  .tab-content
  .content2
  .input-form
  input.input1.long_q {
  width: 260px;
}
#popup-member-address .tab-contents .tab-content .content2 .s-type {
  display: none;
}
#popup-member-address .tab-contents .tab-content .content2 .s-type.open {
  display: block;
}
#popup-member-address .tab-contents .tab-content .content2 .help {
  line-height: 1.7;
}
#popup-member-address .tab-contents .tab-content .content2 .help p.p {
  color: #000;
  line-height: 1.8;
}
#popup-member-address .tab-contents .tab-content .content2 .help p.s {
  color: #888;
}
#popup-member-address .tab-contents .tab-content .content2 .help p.n {
  color: #888;
  padding-top: 10px;
}
#popup-member-address .search-result {
  display: none;
}
#popup-member-address .search-result .result-mobile {
  display: none;
}
#popup-member-address .search-result .result-help {
  text-align: center;
  margin-top: 30px;
  color: #888;
  border-bottom: 1px solid #000;
  padding: 10px;
}
#popup-member-address .search-result .no-result {
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  display: none;
}
#popup-member-address .search-result .result {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
}
#popup-member-address .search-result .result li {
  padding: 10px;
  overflow: auto;
  position: relative;
}
#popup-member-address .search-result .result li .zipcode {
  display: block;
  width: 100px;
  float: left;
}
#popup-member-address .search-result .result li .address-name {
  margin-left: 100px;
  display: block;
}
/*#popup-member-address .action-buttons { position: absolute; bottom: 20px; left: 220px; }*/

#popup-member-refund {
  width: 480px;
}
#popup-member-refund h2 {
  margin-bottom: 10px;
}
#popup-member-refund .refund-info .block-row {
  border-top: 1px solid #ccc;
}
#popup-member-refund .refund-info .block-cell {
  line-height: 60px;
}
#popup-member-refund .refund-info .block-cell.cell-title {
  width: 130px;
}
#popup-member-refund .refund-info .block-cell.comment {
  color: #888;
  line-height: 3;
  float: right;
  margin-bottom: 20px;
}
#popup-member-refund .refund-info .block-cell .account-no {
  width: 250px;
}

/**151203_보타니컬체험단 팝업**/
#popup-member-refund .refund-info .block-row2 {
  background: #f6f6f6;
  padding: 20px 19px;
  margin-bottom: 25px;
  border-top: 1px solid #ccc;
}
#popup-member-refund .refund-info .block-cell2 {
  font-weight: bold;
  text-decoration: underline;
  font-size: 14px;
  margin-bottom: 10px;
  color: #e5005a;
}
#popup-member-refund .refund-info .block-cell3 {
  line-height: 24px;
}

/** membership popup 160622 최문영작업 **/
#popup-member-info {
  width: 350px;
  text-align: center;
  font-size: 20px;
  font-family: "Nanum Gothic", "나눔고딕";
}
#popup-member-info h2 {
  margin: 10px 28px;
  text-align: center;
}
#popup-member-info .member-info .type1 {
  margin-bottom: 25px;
}
#popup-member-info .member-info .type1 span {
  font-weight: 500;
}
#popup-member-info .member-info .type2 {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

#popup-search-item {
  width: 450px;
}
#popup-search-item .input-form {
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  text-align: center;
  padding: 20px 0px;
}
#popup-search-item .input-form .title-text {
  font-size: 18px;
  font-weight: bold;
  padding-right: 3px;
}
#popup-search-item .input-form .q {
  border: 2px solid #000;
  width: 230px;
}
#popup-search-item .input-form .submit {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  padding: 9px 24px;
  font-size: 15px;
}
#popup-search-item h3.block-title {
  margin-top: 30px;
  border-bottom: 1px solid #000;
}
#popup-search-item .searched-item {
}
#popup-search-item .no-result {
  padding: 30px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  display: none;
}
#popup-search-item .searched-item li {
  overflow: hidden;
  position: relative;
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
}
#popup-search-item .searched-item li .thumbnail {
  float: left;
  width: 100px;
}
#popup-search-item .searched-item li p {
  margin-left: 110px;
  width: 260px;
}
#popup-search-item .searched-item li p.item-name {
  color: #000;
  padding-top: 15px;
}
#popup-search-item .searched-item li p.option {
  color: #888;
  padding: 3px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#popup-search-item .searched-item li span.btn-type1 {
  float: right;
  position: absolute;
  top: 30px;
  right: 0px;
  padding: 7px 18px;
}
#popup-search-item .pagination1 {
  padding: 30px 0px;
}
#popup-search-item .pagination1 span {
  padding: 3px 8px;
  margin: 0 1px;
}
#popup-search-item .pagination1 span.btn-page {
  margin: 0px 20px;
}

@media (max-width: 420px) {
  #popup-layer {
    width: 100%;
    padding: 10px 10px 20px;
    box-sizing: border-box;
  }
  .popup-layer .btn-close-popup {
    top: 15px;
    right: 15px;
  }
  .popup-layer .btn-close-popup img {
    width: 20px;
  }
  .popup-layer .action-buttons .type1,
  .popup-layer .action-buttons .type2,
  .popup-layer .action-buttons .type3 {
    font-weight: bold;
  }
  .hide-mobile {
    display: none !important;
  }

  #popup-order-coupon {
    width: 100%;
  }
  #popup-order-coupon .item-list .list-title {
    display: none;
  }
  #popup-order-coupon .item-list.item-info .info {
    width: 250px;
  }
  #popup-order-coupon .item-list.item-info .info .option {
    display: block;
    font-size: 12px;
  }
  #popup-order-coupon .item-list.item-info .list-price {
    float: right;
    width: 80px;
    font-size: 13px;
  }
  #popup-order-coupon .item-list.item-info .count {
    width: 250px;
    text-align: left;
    padding-top: 5px;
  }
  #popup-order-coupon .item-list.item-info .order-price {
    float: right;
    width: 80px;
    font-size: 15px;
    padding-top: 1px;
  }
  #popup-order-coupon .item-list.item-info .info {
    text-align: left;
  }
  #popup-order-coupon .item-list.coupon-list .coupon-name {
    float: left;
    width: 250px;
    text-align: left;
    line-height: 1.5;
  }
  #popup-order-coupon .item-list.coupon-list .available-dup {
    float: left;
    width: 250px;
    line-height: 1.5;
    text-align: left;
    color: #888;
    text-indent: 20px;
  }
  #popup-order-coupon .item-list.coupon-list .benefit {
    float: right;
    width: 80px;
    line-height: 1.5;
    font-weight: bold;
  }
  #popup-order-coupon .item-list.coupon-list .restrict {
    width: 250px;
    line-height: 1.5;
    text-align: left;
    color: #888;
    text-indent: 20px;
  }
  #popup-order-coupon .item-list.coupon-list .remain {
    width: 250px;
    text-align: left;
    text-indent: 20px;
    overflow: auto;
  }
  #popup-order-coupon .item-list.coupon-list .remain .remain-day {
    color: #888;
    float: left;
  }
  #popup-order-coupon .item-list.coupon-list .remain .remain-date {
    float: left;
    text-indent: 0px;
  }
  #popup-order-coupon .item-list.coupon-list .block-row:last-child {
    border: none;
  }
  #popup-order-coupon .summary {
    padding: 5px 0px;
    border-top: 1px solid #000;
    overflow: auto;
  }
  #popup-order-coupon .summary span {
    padding: 7px;
  }
  #popup-order-coupon .summary .item-name {
    float: left;
    width: 150px;
    color: #000;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
  }
  #popup-order-coupon .summary .op {
    display: none;
  }
  #popup-order-coupon .summary .before-price,
  #popup-order-coupon .summary .after-price {
    float: right;
    width: 140px;
    color: #555;
    text-align: right;
    padding-right: 0px;
    font-size: 15px;
  }
  #popup-order-coupon .summary .before-price span:after,
  #popup-order-coupon .summary .after-price span:after {
    content: "원";
  }
  #popup-order-coupon .summary .result-price {
    float: right;
    width: 100%;
    text-align: right;
    font-size: 22px;
    margin-top: 5px;
    border-top: 1px solid #000;
    padding-right: 0;
  }
  #popup-order-coupon .summary .result-price:before {
    content: "총 합계금액";
    color: #000;
    font-size: 14px;
    padding-right: 5px;
    font-weight: normal;
  }
  #popup-order-coupon .bottom-notice {
    padding: 20px 35px;
    font-size: 12px;
  }

  #popup-member-join-cert {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #popup-member-join-cert h2.page-title {
    font-size: 20px;
  }
  #popup-member-join-cert .body {
    color: #555;
  }
  #popup-member-join-cert .action-buttons {
    margin-bottom: 100%;
  }

  #popup-guide-term {
    width: 100%;
  }
  #popup-guide-term .body {
    border: 1px solid #ccc;
    padding: 10px;
    height: 540px;
    font-size: 12px;
  }
  #popup-guide-term .body table {
    line-height: 1.8;
  }
  #popup-guide-term .body table .chapter {
    font-weight: bold;
    padding-top: 20px;
  }

  #popup-member-id-check {
    width: 100%;
  }
  #popup-member-id-check .input-form .title-text {
    font-size: 15px;
  }
  #popup-member-id-check .input-form .q {
    width: 150px;
  }
  #popup-member-id-check .input-form .submit {
    font-weight: bold;
  }
  #popup-member-id-check .check-result {
    font-size: 12px;
    padding: 10px;
  }
  #popup-member-id-check .message {
    font-size: 10px;
    padding-bottom: 15px;
  }
  #popup-member-address {
    width: 100%;
    height: 500px;
  }
  #popup-member-address .tab-contents .tab-content {
    padding-top: 20px;
  }
  #popup-member-address .tab-contents .tab-content .input-form {
    padding: 15px 0px;
  }
  #popup-member-address .tab-contents .tab-content .input-form .title-text {
    font-size: 16px;
    font-weight: bold;
    margin-right: 3px;
  }
  #popup-member-address
    .tab-contents
    .tab-content
    .content1
    .input-form
    input.q {
    width: 170px;
  }
  #popup-member-address .tab-contents .tab-content .content1 .input-form {
    margin-bottom: 15px;
  }
  #popup-member-address
    .tab-contents
    .tab-content
    .content1
    .input-form
    input.submit2 {
    padding: 9px 13px 9px 13px;
  }
  #popup-member-address
    .tab-contents
    .tab-content
    .content1
    .input-form
    .message {
    width: 100%;
  }
  #popup-member-address .tab-contents .tab-content .content2 .type-list li {
    margin-right: 5px;
  }
  #popup-member-address .tab-contents .tab-content .content2 .input-form {
    padding: 20px 10px 10px 10px;
  }
  #popup-member-address
    .tab-contents
    .tab-content
    .content2
    .input-form
    .title-text {
    display: none;
  }
  #popup-member-address
    .tab-contents
    .tab-content
    .content2
    .input-form
    select.type2 {
    width: 150px;
  }
  #popup-member-address
    .tab-contents
    .tab-content
    .content2
    .input-form
    input.input1 {
    width: 90px;
  }
  #popup-member-address
    .tab-contents
    .tab-content
    .content2
    .input-form
    input.input1.long_q {
    width: 220px;
  }
  #popup-member-address .tab-contents .tab-content .content2 .help {
    font-size: 10px;
  }
  #popup-member-address .tab-contents .tab-content .content2 .help p.n {
    padding-top: 5px;
  }
  #popup-member-address .search-result .result-pc {
    display: none;
  }
  #popup-member-address .search-result .result-mobile {
    display: block;
  }
  #popup-member-address .search-result .result-mobile select.type2 {
    width: 330px;
    margin-bottom: 5px;
  }
  #popup-member-address .search-result .result-mobile input.input1 {
    width: 310px;
    margin-left: 0px;
  }
  #popup-member-address .action-buttons {
    left: 110px;
  }
  #popup-member-address .action-buttons .hide-pc {
    display: inline-block !important;
  }

  #popup-member-refund {
    width: 100%;
  }
  #popup-member-refund .refund-info .block-row {
    border-top: 1px solid #ccc;
  }
  #popup-member-refund .refund-info .block-cell.cell-title {
    width: 90px;
    font-weight: bold;
  }
  #popup-member-refund .refund-info .block-cell.comment {
    color: #888;
    line-height: 3;
    float: right;
    margin-bottom: 20px;
  }
  #popup-member-refund .refund-info .block-cell .account-no {
    width: 200px;
  }

  #popup-search-item {
    width: 100%;
  }
  #popup-search-item .input-form .title-text {
    font-size: 16px;
  }
  #popup-search-item .input-form .q {
    width: 170px;
  }
  #popup-search-item .input-form .submit {
    padding: 9px 15px;
  }
  #popup-search-item h3.block-title {
    margin-top: 20px;
  }
  #popup-search-item .no-result {
    padding: 20px;
  }
  #popup-search-item .searched-item li .thumbnail {
    width: 60px;
  }
  #popup-search-item .searched-item li p {
    margin-left: 70px;
    width: 190px;
  }
  #popup-search-item .searched-item li p.item-name {
    padding-top: 5px;
    font-size: 12px;
  }
  #popup-search-item .searched-item li p.option {
    padding: 0px;
    font-size: 11px;
  }
  #popup-search-item .searched-item li span.btn-type1 {
    top: 25px;
    padding: 5px 15px;
  }
}
