

.inner-header .nav-right li.cart-icon:hover .cart-hover {
  opacity: 1;
  visibility: visible;
  top: 60px;
}


.inner-header .nav-right li.cart-icon a span {
  /*position: absolute; */
/*   right: -8px;
  top: 10px;
  height: 15px;
  width: 15px;
  background: black;
  color: #ffffff; */
  border-radius: 60%;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 30px;
}
.inner-header .nav-right li.cart-icon .cart-hover {
  position: absolute;

  top: 100px;
  width: 150px;
  margin-top: 80px;
  background: #ffffff;
  z-index: 99;
  text-align: left;
  padding: 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
  box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 0.001px solid black;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-items table {
  width: 100%;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td {
  padding-bottom: 20px;
}

.inner-header
  .nav-right
  li.cart-icon
  .cart-hover
  .select-items
  table
  tr
  td.si-pic
  img {
  border: 1px solid #ebebeb;
}

/* 장바구니 가격 부분 구현 입니다  */

.inner-header .nav-right li.cart-icon .cart-hover .select-total {
  overflow: hidden;
/*   border-top: 1px solid #e5e5e5; */
  padding-top: 26px;
  margin-bottom: 30px;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-total span {
  font-size: 14px;
  color: #e7ab3c;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  float: left;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-total h5 {
  color: #e7ab3c;
  float: right;
}

.inner-header .nav-right li.cart-icon .cart-hover .select-button .view-card {
font-size: 12px;
    letter-spacing: 2px;
    display: block;
    text-align: center;
    background: #191919;
    color: #ffffff;
    padding: 15px 30px 12px;
    margin-bottom: 15px;
}

.inner-header .nav-right li.cart-price {
  font-size: 18px;
  font-weight: 700;
  color: #f4f4f5;
}



.cotana{
	
	display:flex;
	align-content:flex-start;
	flex-direction: column;
	flex-wrap:wrap;
	overflow: auto;
	list-style:none;
	
}

 .hel:hover{
 				
             background-color:#f4f4f5;
             display: inline-block; padding: 5px 10px; width: 130px ;
             color: black; font-size: 15px;
            }

.login:hover{
	color:red;
	
}