#page-guide-sitemap { margin-bottom: 30px; }
#page-guide-sitemap .section { width: 230px; display: inline-block; vertical-align: top; font-family: "Nanum Gothic","³ª´®°íµñ"; }
#page-guide-sitemap .section h3 { background-image: url('bg_underline.png'); background-repeat: no-repeat; background-position: bottom left; padding: 5px 0px; }
#page-guide-sitemap .section ul { margin: 20px 0px 60px; color: #555; font-size: 12px; }
#page-guide-sitemap .section ul li { padding: 2px 0px; }
#page-guide-sitemap .section.nar { width: 150px; }

#page-guide-contact-us { margin-bottom: 30px; }
#page-guide-contact-us .sub-text { text-align: center; color: #020202; font-size: 17px; margin-bottom: 20px; }
#page-guide-contact-us #map-canvas { border: 1px solid #ccc; width: 100%; height: 350px; }
#page-guide-contact-us .contact-info { padding: 40px 0px; overflow: auto; color: #555; }
#page-guide-contact-us .contact-info .ci-essenlue { float: left; width: 250px; border-right: 1px solid #ccc; margin-right: 50px; padding: 20px 0px; }
#page-guide-contact-us .contact-info .first { float: left; width: 530px;}
#page-guide-contact-us .contact-info .second { float: left; width: 270px;}
#page-guide-contact-us .contact-info li { clear: left; line-height: 1.8; margin-bottom: 10px; }
#page-guide-contact-us .contact-info .title { float: left; font-weight: 500; color: #000; font-family: "Nanum Gothic","³ª´®°íµñ"; font-size: 14px; }
#page-guide-contact-us .contact-info .desc { display: block; position: relative; }
#page-guide-contact-us .contact-info .first .title { width: 150px; }
#page-guide-contact-us .contact-info .first .desc { margin-left: 150px; }
#page-guide-contact-us .contact-info .first li { margin-bottom: 20px; }
#page-guide-contact-us .contact-info .second .title { width: 110px; }
#page-guide-contact-us .contact-info .second .desc { margin-left: 110px; }

@media (max-width: 420px) {
	#page-guide-contact-us #map-canvas { width: 358px; height: 300px; }
	#page-guide-contact-us .contents-wrapper { padding: 0px 10px; }
	#page-guide-contact-us .contact-info .ci-essenlue { border-right: none; float: none; }
	#page-guide-contact-us .contact-info li { clear: both; margin-bottom: 15px; }
	#page-guide-contact-us .contact-info .first { width: auto; }
	#page-guide-contact-us .contact-info .second { width: auto; }
	#page-guide-contact-us .contact-info .first li { margin-bottom: 15px; }
	#page-guide-contact-us .contact-info .title { float: none; }
	#page-guide-contact-us .contact-info .desc { float: none; font-size: 12px; }
	#page-guide-contact-us .contact-info .first .desc { margin-left: 0px; }
	#page-guide-contact-us .contact-info .second .desc { margin-left: 0px; }
}