<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.ync.mapper.BoardMapper">

 
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<!--제목 검색-->
						<when test="type == 'T'.toString()">
							bd_title LIKE '%'||#{keyword}||'%'
						</when>
						<!--내용 검색-->
						<when test="type == 'C'.toString()">
							bd_contents LIKE '%'||#{keyword}||'%'
						</when>
						<!--작성자 검색-->
						<when test="type == 'M'.toString()">
							member_id LIKE '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>


	<select id="getList" resultType="kr.ac.ync.domain.BoardVO">
	<![CDATA[
		SELECT 	* 
		FROM 	board 
		WHERE 	bd_idx > 0 
		]]>
	</select>
 
	<insert id="insert">
		INSERT INTO board	(bd_idx, 
							bd_code, 
							bd_title, 
							bd_content, 
							member_id, 
							bd_img1, 
							bd_img2, 
							bd_img3, 
							bd_img4,
							bd_img5 
							)
					VALUES (seq_board.nextval, 
							#{bd_code},
							#{bd_title}, 
							#{bd_content}, 
							#{member_id}, 
							#{bd_img1},
							#{bd_img2}, 
							#{bd_img3}, 
							#{bd_img4}, 
							#{bd_img5}
							)
	</insert>

	<insert id="insertSelectKey">

		<selectKey keyProperty="bd_idx" order="BEFORE"
			resultType="long">
			select seq_board.nextval from dual
		</selectKey>

		INSERT INTO board (	bd_idx,
							bd_code,
							bd_title, 
							bd_content, 
							member_id, 
							bd_img1, 
							bd_img2, 
							bd_img3,
							bd_img4, 
							bd_img5, )
					VALUES (seq_board.nextval, 
							#{bd_code}, 
							#{bd_title}, 
							#{bd_content}, 
							#{member_id}, 
							#{bd_img1}, 
							#{bd_img2}, 
							#{bd_img3}, 
							#{bd_img4}, 
							#{bd_img5})
	</insert>

	<select id="read" resultType="kr.ac.ync.domain.BoardVO">
		SELECT 	* 
		FROM	board 
		WHERE 	bd_idx = #{bd_idx}
	</select>


	<delete id="delete">
		UPDATE 	board 
		SET 	bd_del = 'Y' 
		WHERE 	bd_idx = #{bd_idx}
	</delete>
 
	<update id="update">
		UPDATE 	board 
		SET 	bd_title= #{bd_title},
				bd_contents=#{bd_contents},
				member_id = #{member_id},
				bd_img_1 = #{bd_img_1},
				bd_img_2 = #{bd_img_2},
				bd_img_3 = #{bd_img_3},
				bd_img_4 = #{bd_img_4},
				bd_img_5 = #{bd_img_5},
				bd_date = sysdate
		WHERE 	bd_idx =	#{bd_idx}
	</update>	
	
	<select id="getListWithPaging" resultType="kr.ac.ync.domain.BoardVO">
		<![CDATA[
		SELECT	bd_idx,
				bd_title,
				bd_contents,
				member_id,
				bd_img1,
				bd_date,
				bd_good_cnt,
				bd_bad_cnt,
				bd_cnt,
				bd_comment_cnt
		FROM	(SELECT /*+INDEX_DESC(board pk_board) */
        				rownum rn,
        				bd_idx,
        				bd_title,
        				bd_contents,
        				member_id,
        				bd_img1,
        				bd_date,
        				bd_good_cnt,
        				bd_bad_cnt,
        				bd_cnt,
        				bd_comment_cnt
      			FROM	board
				WHERE 
  		]]>
		<include refid="criteria"></include> 
      
		<![CDATA[    
      			rownum <= #{pageNum} * #{amount}
      			)
  		WHERE rn > (#{pageNum} -1) * #{amount}   
		]]>
	</select>


	<select id="getTotalCount" resultType="int">
		SELECT 	count(*) 
		FROM 	board 
		WHERE 
		<include refid="criteria"></include> 
		bd_idx > 0
	</select>
	
	<update id="updateReplyCnt">
		UPDATE 	board 
		SET 	replycnt = bd_comment_cnt + #{amount} 
		WHERE 	bd_idx = #{bd_idx}
	</update> 
	
</mapper>
